div{
	color: red;
	display: inline-block;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	margin:8px;

}

body{
	background-image: url(http://4.bp.blogspot.com/-eyEn9hULZVI/UxTPQUh74UI/AAAAAAAAAcg/rBCG8KRMEaE/w902-h455-no/Novruz4Dilshad102+-.gif);
	background-size: cover;
	background-repeat: no-repeat;
}

