#kvadrat{
	height: 100px;
	width: 100px;
	background-color: orange;
}

#ucbucaq{
	height: 0px;
	width: 0px;
	border-bottom: 100px solid green;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

#daire{
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 50%;
}
.fiqur{
	text-align: center;
	display: inline-block;
	margin:20px;

}
.wrapper{
	text-align: center;
}

#daire.active{
	height: 400px;
	width: 400px;
	background-color: blue;
	
}
#kvadrat.active{
	height: 400px;
	width: 400px;
	background-color: blue;
	
}
#ucbucaq.active{
	border-bottom: 200px solid red;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
	
}